#Ignore everything inside of Docs and private info files
/Docs
!Docs/README.md
*.txt

#Typical Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

#Enviroment
.env

#Logging and temp files
*.log
*.tmp